* {
  margin: 0;
}

body {
  height: 100vh;
  background-color: #191054;
  max-width: 64rem;
}

.outergrid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "nav"
    "banner"
    "play"
    "description"
    "footer";
  background: linear-gradient(#75167f, #32c4d2);
  margin: 1rem;
  /* justify-content: center; */
}

.topnav {
  grid-area: nav;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

.topnav_items {
  display: grid;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "logo logo home contact links";
  border: 5px solid rgba(106, 5, 106, 0.7);
  border-radius: 5px 5px;
}

#logo {
  grid-area: logo;
  background-image: url(../assets/images/logorockpaperscissors.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 2rem;
  margin-left: 1rem;
}

#home {
  display: grid;
  grid-area: home;
}

#contact {
  display: grid;
  grid-area: contact;
}

#links {
  display: grid;
  grid-area: links;
}

.banner {
  display: grid;
  grid-area: banner;
  background-image: url(../assets/images/rock-paper-scissors.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-right: 20rem;
  padding-left: 20rem;
  margin: 1rem;
  margin-top: 0;
  /* align-content: center; */
}

.playgrid {
  display: grid;
  grid-area: play;
  grid-template-columns: 5% 40% 10% 5%;
  grid-template-rows: auto;
  grid-template-areas: ". choose  result  .";
  direction: row;
}

.choose {
  display: grid;
  grid-area: choose;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "rock  paper scissors  result";
  border-left: 5px solid rgb(16, 104, 148);
  border-top: 5px solid rgb(16, 104, 148);
  border-bottom: 5px solid rgb(16, 104, 148);
}

#rock {
  background-image: url(../assets/images/rock.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#paper {
  background-image: url(../assets/images/paper.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem;
}

#scissors {
  background-image: url(../assets/images/scissorts.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.result {
  display: grid;
  grid-area: result;
  background-color: #32c4d2;
  padding-left: 2rem;
  padding-right: 2rem;
  border-right: 5px solid rgb(16, 104, 148);
  border-top: 5px solid rgb(16, 104, 148);
  border-bottom: 5px solid rgb(16, 104, 148);
}

.description {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
