body {
  height: 100vh;
  border: 1px solid red;
  background: linear-gradient(#75167f, #32c4d2);
}

.banner {
  margin-top: 3rem;
  background-image: url(../assets/images/rock-paper-scissors.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid red;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.topnav {
}

.topnav_items {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "home contact links";
}

# .maingrid {
  display: grid;
  border: 1px solid red;
  grid-template-columns: 2.5% 5% 2.5% 40% 40% 2.5% 5% 2.5%;
  grid-template-rows: auto;
  grid-template-areas: ". play  . choose  result  .  .  .";
  direction: row;
}

.choose {
  display: grid;
  grid-area: choose;
  border: 1px solid limegreen;
  background-color: #75167f;
}

.result {
  display: grid;
  grid-area: result;
  border: 1px solid rgb(253, 220, 85);
  background-color: #32c4d2;
}

#playBtn {
  display: grid;
  grid-area: play;

  /* margin-top: 5rem;
  margin-left: 5rem; */
}
